[2016-10-21 18:46] abbycabs opened #1 "Collapse menu on mobile view"
Right now the menu is always visible and it takes up a lot of space in mobile view. Would also be fun to have the same menu animation as science.mozilla.org.

[2016-10-21 18:53] acabunoc opened #2 "Add examples to code of conduct lessons"
Read the article here: https://mozilla.github.io/open-leadership-training-series/articles/building-communities-of-contributors/write-a-code-of-conduct/

https://github.com/mozilla/open-leadership-training-series/blob/8d50f2116acbfdc33d5122363214ca44b4351a3d/_articles/building-communities-of-contributors/write-a-code-of-conduct.md#example-placeholder

Possibly add:
- contributor covenant
- any exam

[2016-10-21 18:54] abbycabs opened #3 "Add video to code of conduct exercise"
points to cover:

VIDEO: CODES OF CONDUCT
- this is perhaps one of the most important documents you’ll create
- working open is about the relationships you create; example of how diversity has super-powered a project
- this document encourages those relationships & your community to be healthy and positive
  Inclusive language means broad participation, which will strengthen your project

tips on

[2016-10-21 18:56] abbycabs opened #4 "Add screenshots to making an issue on GitHub"
Read article: https://mozilla.github.io/open-leadership-training-series/articles/get-your-project-online/project-set-up-for-collaboration-with-github/

Edit here: https://github.com/mozilla/open-leadership-training-series/blob/8d50f2116acbfdc33d5122363214ca44b4351a3d/_articles/get-your-project-online/project-set-up-for-collaboration-with-github.md

Screenshots at each step would be helpful

Edit:

[2016-10-21 18:56] abbycabs opened #5 "Add more GitHub resources"
There are lots of resources for learning GitHub. link them here!

https://github.com/mozilla/open-leadership-training-series/blob/gh-pages/_articles/get-your-project-online/project-set-up-for-collaboration-with-github.md

Read the article: https://mozilla.github.io/open-leadership-training-series/articles/get-your-project-online/project-set-up-for-collaboration-with-github/

[2016-10-21 18:58] abbycabs opened #6 "Add screenshots to 'the GitHub Interface and markdown'"
https://github.com/mozilla/open-leadership-training-series/blob/gh-pages/_articles/get-your-project-online/the-github-interface-and-markdown.md

Screenshots would help people walk through the steps!

[2016-10-21 19:31] acabunoc opened #7 "Add examples of a good commit message"
Article: https://mozilla.github.io/open-leadership-training-series/articles/github-for-collaboration/collaborative-workflow-for-contributions/#writing-great-messages-and-comments-on-github

Markdown: https://github.com/mozilla/open-leadership-training-series/blob/gh-pages/_articles/github-for-collaboration/collaborative-workflow-for-contributions.md#writing-great-messages-and-comments-on-github

A

[2016-10-21 19:32] acabunoc opened #8 "Add screenshots on how to make & merge a pull request"
make a pull request:
https://github.com/mozilla/open-leadership-training-series/blob/gh-pages/_articles/github-for-collaboration/collaborative-workflow-for-contributions.md#-siteassignment--as-a-contributor-make-a-pull-request

merge a pull request:
https://github.com/mozilla/open-leadership-training-series/blob/gh-pages/_articles/github-for-collaboration/collaborative-workflow-for-contributions.m

[2016-10-21 20:03] acabunoc opened #9 "Create Video for 'your vision drives your project'"
Video of examples (1 min)
This media piece should communicate:
Many different REAL people sharing their visions and articulating their goal starting with the statement: “I’m working to…”
The range of ideas and goals people are working throughout the Mozilla Leadership Network
The scope and scale of the network, the diversity
That it’s exciting to be doing this, you’re not alone, and lots of things

[2016-10-21 20:06] acabunoc opened #10 "Video on prototyping"
Maybe on network pulse? You were tagged in the gdoc version of this @xmatthewx

https://mozilla.github.io/open-leadership-training-series/articles/opening-your-project/start-your-project-roadmap/

https://github.com/mozilla/open-leadership-training-series/blob/gh-pages/_articles/opening-your-project/start-your-project-roadmap.md#prototyping

[2016-10-21 20:09] acabunoc opened #11 "Create video on meaninful participation & mentorship"
See module for context and more info:
https://mozilla.github.io/open-leadership-training-series/articles/building-communities-of-contributors/understand-meaningful-participation-and-distributed-leadership/

https://github.com/mozilla/open-leadership-training-series/blob/gh-pages/_articles/building-communities-of-contributors/understand-meaningful-participation-and-distributed-leadership.md

[2016-10-21 20:17] acabunoc opened #12 "Create a video on distributed leadership"
Notes for video:

VIDEO: Distributed Leadership
* Story of how a contributor moved through a project to take on a new role
* What this meant for the person, and the project

Maybe @mbonsma might be interested?

For context: https://mozilla.github.io/open-leadership-training-series/articles/building-communities-of-contributors/understand-meaningful-participation-and-distributed-leadership/
https://

[2016-10-24 14:44] acabunoc opened #13 "Find an image for the landing page"
![screen shot 2016-10-24 at 10 44 13](https://cloud.githubusercontent.com/assets/617994/19650312/d4474b22-99d6-11e6-98bd-54f18d440500.png)

Instead of a gray square

[2016-10-24 16:16] mbonsma commented on #12
Yeah I'm interested! Could this be from the study group perspective?

[2016-10-24 16:42] betatim commented on #4
Whole browser window kind of screenshot or cropped?

![milestones](https://cloud.githubusercontent.com/assets/1448859/19654671/9893a27c-9a19-11e6-9ca1-848af9c6cce6.gif)

Thoughts about GIFs for this kind of thing? I was in GIF making mode today so I thought I'd post it.

[2016-10-24 16:43] betatim commented on #4
(might need speeding up and/or wittier text?)

[2016-10-24 16:52] abbycabs commented on #4
gifs are amazing! Please add this!

[2016-10-24 16:52] abbycabs commented on #12
Yes, study groups welcome! Any open project 😄

[2016-10-24 16:54] abbycabs commented on #12
Tips on video creation: https://docs.google.com/document/d/11nGEQ3vuy7GtQwncb5MbDTAehLipC3kENT5zNF6QufY/edit?usp=sharing

[2016-10-24 20:42] betatim opened #14 "No instructions for local previewing"
Should add a simple recipe to `CONTRIBUTING.md` or so that explains how to render things locally so you can see what you did before it goes live.

I have a feeling there is one node package that does it all, but can never remember.

[2016-10-25 01:01] acabunoc opened #16 "Add examples of GitHub projects with efffective organization / structure"
Read article: https://mozilla.github.io/open-leadership-training-series/articles/get-your-project-online/project-set-up-for-collaboration-with-github/#project-structure-and-organization

Add here: https://github.com/mozilla/open-leadership-training-series/blob/gh-pages/_articles/get-your-project-online/project-set-up-for-collaboration-with-github.md

[2016-10-25 01:04] abbycabs commented on #14
good catch! I think I have to commit a Gemfile or something for this to work

[2016-10-25 01:39] acabunoc opened #18 "Create a video: Sharing your work"
Read the full article:
https://mozilla.github.io/open-leadership-training-series/articles/get-your-project-online/sharing-your-work-in-the-open/

Edit here: https://github.com/mozilla/open-leadership-training-series/blob/gh-pages/_articles/get-your-project-online/sharing-your-work-in-the-open.md

[Tips on video creation](https://docs.google.com/document/d/11nGEQ3vuy7GtQwncb5MbDTAehLipC3kENT5zNF6Qu

[2016-10-25 01:40] acabunoc opened #19 "Create a video: Open Access"
Read the full article:
https://mozilla.github.io/open-leadership-training-series/articles/get-your-project-online/sharing-your-work-in-the-open/

Edit here: https://github.com/mozilla/open-leadership-training-series/blob/gh-pages/_articles/get-your-project-online/sharing-your-work-in-the-open.md

[Tips on video creation](https://docs.google.com/document/d/11nGEQ3vuy7GtQwncb5MbDTAehLipC3kENT5zNF6Qu

[2016-10-25 01:48] acabunoc opened #20 "Create video: Collaborative Workflow"
Read the full article:
https://mozilla.github.io/open-leadership-training-series/articles/github-for-collaboration/collaborative-workflow-for-contributions/

Edit here: https://github.com/mozilla/open-leadership-training-series/blob/gh-pages/_articles/github-for-collaboration/collaborative-workflow-for-contributions.md

[Tips on video creation](https://docs.google.com/document/d/11nGEQ3vuy7GtQwncb

[2016-10-25 01:53] acabunoc opened #21 "Create video: Becoming the lead learner for your event"
Read the full article:
https://mozilla.github.io/open-leadership-training-series/articles/running-awesome-community-events/event-planning-and-facilitation/

Edit here: https://github.com/mozilla/open-leadership-training-series/blob/gh-pages/_articles/running-awesome-community-events/event-planning-and-facilitation.md

[Tips on video creation](https://docs.google.com/document/d/11nGEQ3vuy7GtQwncb5M

[2016-10-25 01:58] acabunoc opened #22 "Create video: How do you know if working open works?"
Read the full article:
https://mozilla.github.io/open-leadership-training-series/articles/open-leadership-outro-and-next-steps/next-steps-for-open-leadership/

Edit here: https://github.com/mozilla/open-leadership-training-series/blob/gh-pages/_articles/open-leadership-outro-and-next-steps/next-steps-for-open-leadership.md

[Tips on video creation](https://docs.google.com/document/d/11nGEQ3vuy7GtQ

[2016-10-25 13:26] #14 closed

[2016-10-25 14:48] mbonsma commented on #12
I won't get to this before Mozfest, but I'll try to finish by mid-November!

[2016-10-25 15:09] abbycabs commented on #12
👌

[2016-10-25 16:43] abbycabs commented on #19
Possible video to add:
https://www.youtube.com/watch?v=L5rVH1KGBCY&feature=youtu.be

([thanks to @JoshBolick on twitter](https://twitter.com/JoshBolick/status/790932833053270016))

[2016-10-26 08:52] xmatthewx opened #24 "Design review"
@flukeout can you do a brief review of this some day? https://mzl.la/open-leadership

[2016-10-30 12:03] nufail commented on #16
Hi,

I'd like to work on this. Will send a PR soon

[2016-10-30 13:53] abbycabs commented on #16
Thank you!

Sent from my iPhone

[2016-10-30 19:38] betatim commented on #13
Some ideas from browsing unsplash:

https://unsplash.com/search/group?photo=icyZmdkCGZ0
https://unsplash.com/search/people?photo=rewyZqUwAqY
https://unsplash.com/collections/369966/create?photo=KR84RpMCb0w
https://unsplash.com/collections/369966/create?photo=FwF_fKj5tBo
https://unsplash.com/collections/369966/create?photo=IEtUye-b28A

[2016-11-01 15:13] #2 closed

[2016-11-01 18:22] betatim commented on #16
One project I like: https://github.com/nteract/nteract

[2016-11-03 20:41] xmatthewx commented on #10
Can we set aside a bit of time to discuss in the next couple of weeks?

[2016-11-07 16:09] acabunoc opened #37 "mofo-bootstrap update"
Looks like [mofo bootstrap](https://github.com/mozilla/mofo-bootstrap/tree/gh-pages) updated -- so a few things look weird. We should consider locally serving mofo bootstrap

Things that I've noticed:
* [ ] font page title missing
* [ ] font generally smaller on article pages
![screen shot 2016-11-07 at 11 09 24](https://cloud.githubusercontent.com/assets/617994/20065032/ab29042e-a4da-11e6-9189-93

[2016-11-07 18:37] flukeout commented on #24
@xmatthewx definitely, do you have permissions to assign this to me here, I'm not able to.

[2016-11-07 18:43] xmatthewx commented on #24
@acabunoc – can you assign? add the mofo admin team to this repo?

[2016-11-07 18:54] abbycabs commented on #24
Added the team!

[2016-11-07 19:12] acabunoc opened #39 "Create video: using GitHub to work open on non-code projects"
[Tips on video creation](https://docs.google.com/document/d/11nGEQ3vuy7GtQwncb5MbDTAehLipC3kENT5zNF6QufY/edit?usp=sharing)

I think this should probably go in the introduction to Working Open:
https://mozilla.github.io/open-leadership-training-series/articles/introduction-to-open-leadership/introduction-to-working-open/

cc: @RaoOfPhysics & @betatim

[2016-11-07 19:55] acabunoc opened #40 "Follow-up with mentorship contacts from MozFest"
We have contact info for 65 people who either:
* In the raffle, checked off *"I run an open project and I would like to talk to someone about joining the mentorship program"* (48)
* Left the info on the sign-up sheet for *"I would like to learn more about the mentorship program"* (17)

Initial contact via email: Nov 1, 2016
bounced emails: 2
notes: https://drive.google.com/open?id=1uaVq9c0_Mn7ClZH

[2016-11-08 12:53] RaoOfPhysics commented on #39
I'm in. But it'll have to wait until the end of the year. On my list.

[2016-11-14 06:50] betatim commented on #37
Closed by #38

[2016-11-14 06:50] #37 closed

[2016-11-14 06:52] betatim commented on #13
What kind of image would work well? What should be on the picture?

I think I would like something that shows a group of people doing something together.

[2016-11-14 17:34] flukeout commented on #24
@acabunoc - so I think I'll make a fork of this, and then submit a PR with some style changes, does that work?

[2016-11-14 17:50] abbycabs commented on #24
That is perfect, thanks @flukeout!

[2016-11-14 18:08] flukeout commented on #24
Hey @acabunoc having some trouble getting set up..

``bundle install`` was complaining that I need ruby 2.2.2, and after installing that version of ruby, it throws this error now...

[code]

[2016-11-14 18:12] flukeout commented on #24
New problem, I've got ruby 2.2.2 running, but bundler says I'm running an incompatible version..

[code]

[2016-11-14 19:18] flukeout commented on #24
Sorted!

[2016-11-14 19:37] abbycabs commented on #13
I like people working together, too!
Like on the learning site: http://learning.mozilla.org/

@flukeout might also have some ideas

[2016-11-15 14:01] #24 closed

[2016-11-15 16:52] xmatthewx commented on #24
🌷  Thanks you two. Looks fab! 🌷

[2016-11-15 19:10] zuphilip commented on #19
Here is another video about Open Access: https://www.youtube.com/watch?v=0GbXjWLKqG0 . However, the PhD Comics video is still my favorite.

[2016-11-15 19:26] abbycabs commented on #19
Thanks @zuphilip!

[2016-11-16 19:52] acabunoc opened #44 "Add contributors section somewhere"
A lot of people contributed to this before it was moved to GitHub! @chadsansing, @zee-moz, and all the reviewers they had!

We should collect all the names and thank them in the README or maybe a special file (humans.txt?)

[2016-11-16 19:54] acabunoc opened #45 "Make the lessons more modular"
I'm getting a lot of feedback that more modular lessons would be helpful since projects are at different stages / different domains. Let's go through and remove language requiring each module to be done sequentially.

[2016-11-16 22:00] betatim commented on #45
Is it really the sentence at the start of a section telling you "you should know X before doing Y" that puts people off?

I sometimes find that I want to dive into one specific thing but it takes me ages to find it. So for me having a big/expanded table of contents (basically like the sidebar but all unfolded) would be helpful for quickly finding stuff.

[2016-11-16 22:29] betatim commented on #20
I will give this a shot. Below some planning for the shoot (get it? 😁).
- Intro
  - Introduce myself
  - think of contributing as a conversation
- Middle
  - general points to consider when working with others:
    - think about why you are doing something (posting a new issue, adding a new feature, creating a PR), that is probably what you want to communicate to everyone
    - try and reduce surp

[2016-11-16 22:33] abbycabs commented on #20
Nice! I think @zee-moz has some vids from @joeyklee & @stephwright that might help! (Sorry Zannah I think I lost these)

[2016-11-17 18:21] minnsoe commented on #44
PR #46

[2016-11-17 19:26] stephwright commented on #20
@joeyklee shot them on his 'puter and sent them to @zee-moz so I don't have copies to share or I would.  I know @zee-moz has them though.

[2016-11-17 20:02] zee-moz commented on #20
they are in dropbox... abby I will find the link for you.
thanks!
Z

On Thu, Nov 17, 2016 at 2:26 PM, Stephanie Wright notifications@github.com
wrote:

[2016-11-17 20:09] zee-moz commented on #20
Abby, I shared them with you on dropbox. they need editing, and there are a number of them-- they were designed to be a step-by-step walk-through of contribution process from both project lead and contributor perspectives (think of them as slotting in at each step of the process). I think the video that Tim has outlined is a good overview and intro to this more involved process.

[2016-11-17 21:48] betatim commented on #20
Is there a way to share the unedited more widely so we can puzzle it together? (Not that I know anything about editing videos ... #excuses)

[2016-11-17 23:08] abbycabs commented on #44
Still to do: let's collect all the reviewers of the original OLTS and add them somewhere!

[2016-11-17 23:13] minnsoe commented on #44
Sure, send the names and I'll modify then PR. Still out with some of MozLon
so when I'm back I'll fix it.

On Thu, 17 Nov 2016, 23:08 Abigail Cabunoc Mayes, notifications@github.com
wrote:

[2016-11-17 23:21] acabunoc opened #47 "Remix the clubs certificate for OLTS project leads"
Clubs certificate:https://github.com/mozilla/learning.mozilla.org/issues/1849#issuecomment-222023623

This is in progress!

[2016-11-18 00:34] abbycabs commented on #47
![olts-certificate-2](https://cloud.githubusercontent.com/assets/617994/20417183/a66aebd4-ad11-11e6-995f-1f71e379277b.jpg)

thoughts? flagging @flukeout, @betatim

[2016-11-18 00:36] abbycabs commented on #47
Also flagging @chrislarry33 so he knows what else his name is on

[2016-11-18 02:00] minnsoe commented on #44
Back briefly on my laptop. I've attempted to find the reviewers using the Google Doc edit history however I couldn't find enough time to follow through to finding the GH handles.

[2016-11-18 02:34] abbycabs commented on #44
oh wow, thanks @MinnSoe! Names alone might be fine for now? I'm not sure if everyone has a github handle

[2016-11-18 02:35] abbycabs commented on #45
good point! I'll have to think about this more. I'll keep collecting feedback and I go through all the debriefs!

Would love to hear feedback from others on here!

[2016-11-18 03:09] abbycabs commented on #20
I'll try to get these up for you @betatim!

[2016-11-18 07:09] betatim commented on #45
Maybe just tuning the language a bit from "you must read X before Y" to "it is probably a good idea to read X (or have a basic idea about it) before reading Y" would help counter the notion that it is all or nothing.

[2016-11-18 10:09] chadsansing commented on #44
Thanks for assembling this! David Bild, Tim Riches, Holly Robbins, and Robert Schaefer all served as readers and offered significant feedback that shaped the "final" content.

[2016-11-18 13:50] abbycabs commented on #44
GitHub IDs (except for Tim Riches):
- David Bild: @dbild
- Tim Riches
- Holly Robbins: @hvrobbins
- Rob Schaefer: @schae234

@MinnSoe -- I'll let you make the PR?

[2016-11-18 13:55] abbycabs commented on #47
Added certificate to redpen: https://redpen.io/uh0d30ab627475b2f4
Please leave feedback in there!

[2016-11-18 14:14] minnsoe commented on #44
@acabunoc looks like @betatim has done it. PR #49 LGTM.

[2016-11-18 17:47] flukeout commented on #47
@acabunoc If you want to pass me the illustrator file, I'm happy to make some tweaks etc.

[2016-11-18 17:51] abbycabs commented on #47
Thanks @flukeout! Here's the file: https://drive.google.com/open?id=0B9UZnVcaoMU6clRJTFpoVU00S3c

[2016-11-18 18:02] acabunoc opened #50 "Proposal: Add a 'Fueling the movement' module as 1.2"
I'd like to explain how we're training new leaders to help us fuel the movement for the health of the Internet. We're working together to guard the open nature of the internet. Working Open is at the core of many of the issues that face the health of the Internet today: Privacy & security, web literacy, digital inclusion, decentralization, and open innovation.

Thoughts / suggestions welcome!

Sho

[2016-11-18 18:13] abbycabs commented on #20
Clips added here: https://drive.google.com/open?id=0B9UZnVcaoMU6QTNPWl9ZeU5hcTQ

Sorry I forgot all about these when I first made this issue! Zannah and I also discussed the possibility of recording this as a google hangout where each party takes turn sharing their screen.

[2016-11-18 19:25] #7 closed

[2016-11-21 07:20] #8 closed

[2016-11-21 07:21] betatim opened #53 "HTML template snippet for embedding images"
Create a HTML snippet for displaying images and captions in a consistent way. Some discussion here:

A bit like the HTML snippet that exists for embedding video.

[2016-11-21 07:31] betatim commented on #20
I like the idea of the hangout.

Not sure if I will get around to learning how to edit the video this week. If someone else wants to do it feel free to take over.

[2016-11-21 17:43] abbycabs commented on #47
I'm going to send these out later today, together with the exit survey! @flukeout

[2016-11-21 18:43] flukeout commented on #47
Ok, I'll take a quick pass at it now and update the file with some minor changes. Should take about a half hour - that OK?

[2016-11-21 19:09] flukeout commented on #47
Hey @acabunoc - I just made some very slight tweaks. For some reason the file was pretty hard to work with, what program did you modify it with?

https://dl.dropboxusercontent.com/u/109902/olts%20certificate.ai

![image](https://cloud.githubusercontent.com/assets/25212/20496667/f3a8af46-afda-11e6-8361-aca06eb9c98b.png)

[2016-11-21 19:22] abbycabs commented on #47
Thanks @flukeout! Sorry about that -- I used an older version of illustrator and it didn't always play nice :(

[2016-11-23 19:00] #16 closed

[2016-11-23 21:14] abbycabs commented on #40
this is done!

[2016-11-23 21:14] #40 closed

[2016-11-24 07:15] betatim commented on #50
I'd be fine with that. My first gut reaction was "why would readers want to read an advert for mozilla?" but after coming back to this it doesn't feel like an advert anymore.

Might even consider collecting similar statements from other well known entities that work open. It shows people that it isn't just small outfits run by hippies that have no customers and struggle to survive that practice wo

[2016-11-25 21:11] abbycabs commented on #50
I'd like to add some info explaining _why_ Mozilla cares about this and how training open leaders fits with their mission. (A: more leaders to fuel the movement for the health of the Internet).

Info on working open at scale / serious businesses in open source might be better fit in the working open section.

[2016-12-29 15:14] RaoOfPhysics commented on #39
@betatim: How do you want to go about with this? Shall I start drafting some text?

[2017-01-03 18:15] acabunoc opened #54 "Add link & insight from Mozilla's Connected Devices: Contributor Experience Research"
Link: http://mzl.la/whyopensource

Not sure if there's a good place to link this, but I forgot about this excellent resource put together by the Participation team.

[2017-01-03 19:05] ryanwarsaw commented on #54
This would probably fit well in one of the lessons under "Building Communities of Contributors", perhaps under "understand-meaningful-participation-and-distributed-leadership.md"?

[2017-01-14 00:08] belkinsa opened #55 "" Mozilla And The Firefox Creation Myth, Mark Surman" video missing x-asis in a graph"
In " Mozilla And The Firefox Creation Myth, Mark Surman" video, the x-axis of his "Browser Wars" graph is cut off.  I know it's minor but it might be needed.

[2017-01-20 00:55] belkinsa opened #56 "Add Section on GitHub Projects"
It seems that GitHub now has a [tool for project management](https://github.com/blog/2272-introducing-projects-for-organizations).  Would it be worth it to add a section on the topic as it relates to leadership?

[2017-01-23 09:35] betatim commented on #56
Thanks for the suggestion.I'm in two minds about this. On the one hand "ahrg, let's not make this yet another github tutorial" and on the other hand "let's show people how github makes it super easy for you to do things". So yeah :-/

Maybe we can add it to https://mozilla.github.io/open-leadership-training-series/articles/opening-your-project/start-your-project-roadmap/#milestones ?

Personal com

[2017-01-23 16:51] ghost commented on #56
Not a problem and I agree with both of your sides (of the same coin). I will add some lines on that page in terms of using it as a roadmapping tool.  ~~But I think it should be also mentioned on the "[Open Project Maintenance](https://mozilla.github.io/open-leadership-training-series/articles/open-project-maintenance/open-project-maintenance/)" page, in the terms of task management.~~ I read the t

[2017-01-23 17:21] ghost commented on #56
PR #58

[2017-01-23 17:21] Shruti9520 commented on #5
@acabunoc Can I work on this issue?

[2017-01-23 17:22] abbycabs commented on #5
Of course! Thanks @Shruti9520

[2017-01-23 17:24] ghost commented on #5
Could Issue #56 be better off as a resource than a section?

[2017-01-23 17:40] ghost commented on #45
Would the word "prerequisite(s)" be a put off?  If not, perhaps listing them could create the modular feeling that is needed.

[2017-01-23 18:40] abbycabs commented on #55
Thanks @belkinsa! There's a chance we might be reshooting that video, so we'll keep this in mind for that!

[2017-01-23 18:46] Shruti9520 commented on #5
PR #59

[2017-01-23 21:12] belkinsa opened #60 "Section On Burnout"
Would it be worth it to write something on burnout?

[2017-01-23 22:38] betatim commented on #45
A thing I miss is a boring old "Contents" page with all the chapters and sub-chapters visible. It would help me quickly finding things back that I know exist somewhere. Maybe we could add one after the glossary. Might require some advanced gh-pages foo to auto-generate

[2017-01-23 22:43] betatim commented on #60
Maybe. I'd call it "pacing yourself" or something like that and add it to section 8. I think somewhere there is some material already on setting expectations for contributors, for example posting a "I will get back to you on this in 2 days" and such. Should try and link up with that somehow.

[2017-01-23 22:49] abbycabs commented on #45
Auto-generating that is possible!
This how I generated contents at the beginning of each section:
https://github.com/mozilla/open-leadership-training-series/blob/gh-pages/_layouts/page.html#L51

[2017-01-23 22:52] abbycabs commented on #60
I think this is an important topic. I haven't tackled it much since I'm not sure I'd be able to do it justice.

Location wise, Section 8 "Project Maintenance" makes a lot of sense. I think having a sustainable, maintained project needs a sustainable workload for the project leads.

[2017-01-23 23:12] ghost commented on #60
As I said in my reply to @betatim, in Issue #58, I (may have) read the title of the whole section wrong but maybe because it might be needed to expanded to add more ways to maintain a project through tools and also how to sustain workload.

[2017-01-24 00:59] ghost commented on #60
I [started](https://github.com/belkinsa/open-leadership-training-series/blob/sustaining-it/_articles/open-project-maintenance/sustaining-it.md) a page.  Anyone is free to help me write it.

[2017-01-24 05:30] cynthiapereira opened #61 "White space on right side of homepage"
The footer ```.row``` class is not inside the ```.container-fluid``` element.

based from http://getbootstrap.com/css/:

[Bug Line 31](https://github.com/mozilla/open-leadership-training-series/blob/gh-pages/_layouts/default.html#L31)

![open-leadership-training-series-bug](https://cloud.githubusercontent.com/assets/1923666/22235225/6043657e-e1e5-11e6-905e-4a540727fdc1.png)

[2017-01-24 08:29] #61 closed

[2017-01-24 14:31] Shruti9520 commented on #1
@acabunoc Can I work on this issue?

[2017-01-24 17:59] abbycabs commented on #1
For sure! Thanks @Shruti9520!

GitHub repo for the science.mozilla.org is here: https://github.com/mozilla/science.mozilla.org

[2017-01-25 07:01] Shruti9520 commented on #1
@acabunoc  Thanks !

[2017-01-30 18:05] #56 closed

[2017-01-30 18:54] ghost commented on #5
PR #63

[2017-02-06 22:28] belkinsa opened #65 "Section Delegation"
I don't remember reading about delegation, but if it's already in, please close this request.

But this section is really more for when the current leader retires and needs to pass on the leadership on to the next person who is ready.  Of course in other places where delegation is needed.

If possible, I'm willing to make a pull request to add my [sustaining-it ](https://github.com/belkinsa/open-l

[2017-02-09 20:30] zee-moz commented on #50
hey @acabunoc and @betatim, great thoughts here!  I might add this"fuel the movement" content to 1.1, rather than creating a new section. I think the more refined language about the 5 areas would fit nicely there-- at the time when Chad and I originally wrote this early last spring, those principles were less clearly defined and so we glossed over them a bit. We probably need to do an update of th

[2017-02-09 21:17] zee-moz commented on #65
@belkinsa hi! thanks for opening this issue. there's a small section on ["distributed leadership"](https://mozilla.github.io/open-leadership-training-series/articles/building-communities-of-contributors/understand-meaningful-participation-and-distributed-leadership/) here, in the building communities section.  It ended up there because it's about growing lasting participation. If I remember correc

[2017-02-09 22:10] zee-moz commented on #55
ah, that axis! i know, i know! we recorded two takes of this video, and this was pointed out after the first take, but somehow didn't get corrected in the second take. argh. as abby said, we hope to do a re-shoot that will result in a shorter, more polished version. :)

[2017-02-09 23:15] zee-moz commented on #45
Hey @acabunoc @betatim I TOTALLY get how it feels very rigid and structured. And I agree stand-alone, mix and match modules would be more useful.

(Some background: when Chad and I first started working on this, we wanted to make sure that the materials were comprehensive, so people could start with an idea and get all the way to sustained projects, and have everything they needed to do each step

[2017-02-09 23:37] zee-moz commented on #39
@acabunoc @RaoOfPhysics @betatim
Kirstie briefly mentions GitHub in her video in the Intro to Working Open section, but I wonder if it makes sense to keep all the GitHub stuff in one section, so people don't get pulled into details about tools too early on? What do you think?

[2017-02-09 23:52] zee-moz opened #66 "Meet OLTS Jr."
Hey everyone, there was a need at Mozilla for an Open Leadership Training that is:

- much shorter (~1 to 1.5 hours) and more basic than the OLTS
- for people who are just learning about open, Mozilla, and how engage with projects and the organization
- an initial experience that help people decide that the larger OLTS is for them (or not)

So I edited down a few sections of the OLTS, added a bit

[2017-02-10 09:07] RaoOfPhysics commented on #39
No harm in referencing it there and signposting to this video. @betatim, your thoughts?

[2017-02-11 19:49] ghost commented on #45
+1 on the checklist idea, but I would rather link it to the README.md so the ones who want to use it can simply download that checklist file instead the README.md.

[2017-02-11 19:50] ghost commented on #65
That's the section that I was thinking of, thank you!  And I think it's fine the way it is.

[2017-02-11 19:50] #65 closed

[2017-02-11 21:24] betatim commented on #45
Started browsing the OLTS Jr. doc link in https://github.com/mozilla/open-leadership-training-series/issues/66 and thought: hey maybe a narrated overview (like OLTS Jr.??) of what is where and how it fits together/what builds on what would help people.

For me OLTS is meant to be like a good (technical) book: you read it cover to back the first, second and third times. Then you come back later to

[2017-02-13 15:16] belkinsa opened #68 "Section on Recruitment"
This maybe an odd section/thought but I think some leaders have recruitment issues.  This can lead to the leader working on the project by themselves which could lead to a (quickly burnout leader and) a project that dies quickly.  I don't know if this related to that social network section though.

[2017-02-14 18:48] acabunoc opened #69 "Think about adding a link to https://www.mozilla.org/en-US/privacy/websites/"
We can link to https://www.mozilla.org/en-US/privacy/websites/ in our footer. It explains Mozilla's usage of Google Analytics.

[2017-03-06 16:31] acabunoc opened #70 "open canvas - google slide"
I made a google slide version of open canvas!

https://docs.google.com/presentation/d/1_eya6vVXpaZOpXFZsZNbVHboROI4IPWy-poCnYTNtnQ/edit?usp=sharing

We should update links

[2017-03-06 16:37] abbycabs commented on #70
Shortened link: https://goo.gl/to6PYn

[2017-03-24 01:06] abbycabs commented on #70
Looks like @mateoclarke resolved this in #71 Thanks Mateo!! 🎉

[2017-03-24 01:06] #70 closed

[2017-04-21 22:50] NDuma opened #77 "Incorporate Badges for Leadership Series"
#73

[2017-05-16 16:22] fayetandog opened #78 "Create a section about using project management and collaboration tools"
As there have been non-technical projects in the training, some people aren't sure about where they can use Github. My idea is to have sessions on online project management and collaboration tools/ strategies/ best practices.

[2017-05-18 16:23] betatim commented on #78
You thinking of tools like the "Projects" tab on Github?

Could also point towards some of the github repositories used to organise events/meetings.

[2017-05-21 10:42] fayepal commented on #78
Yes. However, I am thinking to move away from Github because it might be confusing to other people because of its format that is optimized for coding projects. I am thinking of using the very non-coder friendly tools like Trello and maybe making things in a bit old-fashioned way, so that contributors won't have to deal with the frustration of having a new thing to learn/ having to install and sign

[2017-05-23 03:28] dbild commented on #78
@fayetandog keep me updated on this.  I'm planning to work on this sort of thing for my sprint project (specifically looking at non-Github tools for collaboration that teens could use for non-code projects) https://github.com/dbild/teen-open-leadership/blob/master/CONTRIBUTING.md

[2017-10-05 14:17] mayawagon opened #81 "Add subtitles to videos for accessibility"
This would make them accessible to people with hearing difficulties or (like me) people who work in open workspaces and don't have headphones on hand

[2017-11-14 14:40] mayawagon opened #83 "visualize-your-support-network.md references a nonexistent tool"
[visualizing-your-support-network.md](https://github.com/mozilla/open-leadership-training-series/blob/gh-pages/_articles/building-communities-of-contributors/visualize-your-support-network.md) instructs people to draw their map on paper, then in a couple of places, tells people to select settings in some kind of a tool.

[2018-01-09 17:13] woliveiras commented on #6
Hello, @acabunoc!

Can I take that issue to resolve?

[2018-01-09 17:30] abbycabs commented on #6
Thanks @woliveiras - would love your help here!

[2018-01-10 21:08] woliveiras commented on #6
Great!

Tks! :smile:

[2018-07-31 21:08] AutomatedTester opened #89 "dependency on Nokogiri needs updating"
There is currently a security vulnerability in nokogiri flagged on this repo. Please update the dependency to ~> 1.8.2

[2018-08-02 21:51] #89 closed

[2018-09-25 03:35] laurosilvacom opened #91 "Choosing an accessible font"
Font style is one of the most important considerations of accessible website design.

Your choice of font can have a positive or negative impact. Some fonts are easier to read than others and if chosen well, the right font can really help you get the message across. What many people don’t know is that some fonts can be inaccessible to disabled people, particularly those with a visual impairment or

[2018-10-07 06:29] laurosilvacom commented on #91
Any thoughts on this issue @acabunoc?

[2018-10-07 20:39] abbycabs commented on #91
Pull requests welcome!

[2019-02-10 08:33] aschrijver opened #95 "Add some extra explanation on Open Canvas quadrants"
Hi @acabunoc

Filling in the Open Canvas for OL7. Nice work!

I have a slight improvement you can consider, and that is to address each quadrant with a paragraph of explanatory text, adding additional rationale to having the quadrant, in order to help people interpret them correctly.

For instance:

- Problem quadrant: Do I only mention product-/community-related external problems (probably), or a

[2019-02-10 22:04] abbycabs commented on #95
Huge thanks for this Arnold! I tend to leave things more open to interpretation, so people can answer in whatever way they think is useful. But I realize how that can lead to more confusion! Do you have a suggestion on to refine the current explainer text in the canvas?

I appreciate your insight here!

[2019-02-11 11:33] aschrijver commented on #95
Yes, that is not bad in itself, as there are multiple interpretations. I think the canvas should be used in ways that are most practical and may be different for each individual case.

Some general points:

- After the first sentence in MVP paragraph, add that you best fill in the canvas with the scope of that MVP in mind. It is easy to go into too much detail or too general and the limited space

[2019-02-11 12:55] aschrijver commented on #95
FYI, this is how we filled out our Open Canvas for OL7 Cohort B: https://github.com/MozillaFestival/open-leaders-7/issues/41#issuecomment-462317076

[2019-02-17 19:03] moz-hwine opened #97 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/open-leadership-training-series/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent au

[2019-02-19 14:59] marcwalsh commented on #81
Thanks for raising this @mayawagon and apologies it's taken so long to get to.

We're starting to work on this now I'm adding a list below on videos that require subtitles either being added or edited from autogenerated captions.

- [x] Mozilla and Working Open (YouTube Auto-Generated)
- [x] Open Canvas (PR Tracked in #98)

[2019-02-19 15:51] abbycabs commented on #81
Added the 'help wanted' tag because adding subtitle would be an amazing contribution is anyone is up for it!

[2019-02-19 19:43] abbycabs commented on #97
Thanks @moz-hwine - I've turned off the wiki (we weren't used it)

[2019-02-19 19:43] #97 closed

[2019-03-29 22:05] Mozilla-GitHub-Standards opened #99 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2020-06-29 02:05] dmitriz opened #106 "Change font?"
Just wanted to make quick suggestion following the call to help improve this great document...

My vision is poor and I often need to zoom up sites or even manually disable the custom fonts used with inspector.

The font on this page is very hard for me to read - letters are too thin and spaces between letters are too narrow:
https://mozilla.github.io/open-leadership-training-series/articles/readm

[2021-03-30 04:01] anthonyronda commented on #66
@zee-moz This is a stale issue/repo and maybe it doesn't matter, but your draft is editable by anyone with the link.

I hope to see a return to the Open Leaders program though!

[2021-03-31 15:29] zee-moz commented on #66
@rondaa thanks for catch. I've changed that.
Thanks for your positive words about Open Leaders. No news on a return, but in the meantime, you can catch that OL vibe at [MozFest- we just wrapped our online event for 2021](https://www.mozillafestival.org/), but look for us in 2022, hopefully in Amsterdam!

[2021-08-09 05:55] AtharvaParkale commented on #106
Can I work on this issue?

[2022-05-25 01:54] #47 closed

[2022-11-03 12:06] BResearcher101 opened #119 "Links no longer available"
The links mentioned under the video ' A Working Open Example - STEMM Role Models, Kirstie Whitaker' for mozilla club and stemmrolemodels are no longer available.